parameters:
  level: 7
  paths:
    - src
    - profile-command.php
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - tests/phpstan/scan-files.php

  treatPhpDocTypesAsCertain: false
